privateData.py
.vscode/
__pycache__/
firestore/serviceAccountKey.json
*.db
*.json
*.out
config.py
*.log
/venv/
.idea/.gitignore
.idea/Awot - DiscordBot.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/dictionaries/alexs.xml
.idea/inspectionProfiles/profiles_settings.xml
